[submodule "hugo-theme-stack-starter"]
	path = hugo-theme-stack-starter
	url = https://github.com/CaiJimmy/hugo-theme-stack-starter
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
