.pointer {
  cursor: pointer;
}

.article-details {
  .article-subtitle {
    font-size: 90%;
  }
}

.article-page {
  .main-article {
    .article-content {
      a[href*="#missing"] {
        display: inline-flex;
        align-items: center;
        margin: 0;
        padding: 0;
        line-height: normal;
      }

      a[href*="#missing"]:after {
        content: ' (Post In Progress)';
        font-size: 70%;
        margin-left: 0.4em;
        margin-right: 0.4em;
      }

      td, th {
        text-align: center !important;
      }

      .center {
        display: flex;
        justify-content: center;
      }

      .small {
        img {
          width: 50%;
        }
      }

      .padded-white {
        img {
          padding: 1.5em;
          background-color: #fff;
        }
      }

      .tiny {
        img {
          max-width: 25%;
        }
      }

      .small {
        img {
          max-width: 50%;
        }
      }

      .medium {
        img {
          max-width: 75%;
        }
      }

      mark, del {
        text-decoration: none;
        font-family: monospace;
        color: #000;
        padding: 2px 5px;
      }
      del:has(> sup), mark:has(> sup) {
        padding: 5px 5px 2px 5px;
      }

      mark {
        background-color: #c99;
      }

      del {
        background-color: #cc9;
      }

      sup {
        text-decoration: overline;
        top: auto;
        font-size: 100%;
        line-height: normal;
      }
    }
  }
}

.sidebar {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.notice {
    position: relative;
    padding: 1em 1em 2em 2.5em;
    margin-bottom: 1em;
    border-radius: 4px;

    p:last-child {
      margin-bottom: 0;
    }

    p{
      margin-left: 20px;
    }

    .notice-title {
      position: absolute;
      left: 16px;
      margin-top: 17px;
      font-size: 1.2em;

      .notice-icon {
        width: 1.2em;
        height: 1.2em;
      }
    }

    &.notice-warning {
      background: hsla(0, 65%, 65%, 0.15);
      border-left: 5px solid hsl(0, 65%, 65%);
    }

    &.notice-info {
      background: hsla(30, 80%, 70%, 0.15);
      border-left: 5px solid hsl(30, 80%, 70%);
    }

    &.notice-note {
      background: hsla(200, 65%, 65%, 0.15);
      border-left: 5px solid hsl(200, 65%, 65%);
    }

    &.notice-tip {
      background: hsla(140, 65%, 65%, 0.15);
      border-left: 5px solid hsl(140, 65%, 65%);
    }
  }

[data-theme="dark"] .notice {
  &.notice-warning {
    background: hsla(0, 25%, 35%, 0.15);
    border-left: 5px solid hsl(0, 25%, 35%);

    .notice-title {
      color: hsl(0, 25%, 35%);
    }
  }

  &.notice-info {
    background: hsla(30, 25%, 35%, 0.15);
    border-left: 5px solid hsl(30, 25%, 35%);

    .notice-title {
      color: hsl(30, 25%, 35%);
    }
  }

  &.notice-note {
    background: hsla(200, 25%, 35%, 0.15);
    border-left: 5px solid hsl(200, 25%, 35%);

    .notice-title {
      color: hsl(200, 25%, 35%);
    }
  }

  &.notice-tip {
    background: hsla(140, 25%, 35%, 0.15);
    border-left: 5px solid hsl(140, 25%, 35%);

    .notice-title {
      color: hsl(140, 25%, 35%);
    }
  }
}
